{% extends "shazam/base.html" %}

{% load static %}

{% block meta %}
  <meta http-equiv="refresh" content="30">
{% endblock %}

{% block javascript %}
  <script></script>
{% endblock %}

{% block content %}
 <!--Main-->
 <main role="main" class="container">
  <!--Container-->
  <div class="container" style="max-width:1400px;">  
    <div class="my-3 p-2 bg-white rounded shadow-sm">
      <div class="text-center m-3">  
          <img src="{% static 'shazam/img/logo12.png' %}" width="302" height="96" alt="anima night logo"><br>
          <img src="{% static 'shazam/img/hotspot_wifi.png' %}" alt="" width="72" height="72"><br>
          <h6 class="m-3"><a href="/">Accueil</a> - <a href="/wiforama/">Wiforama</a> - <a href="/shazam/">Shazam</a></h6>
      </div>
    </div>
      <form method="POST">
        {% csrf_token %}
      <div class="my-3 p-2 bg-white rounded shadow-sm">
        <div class="media text-muted pt-3 text-center">
          <h1>Shazam</h1>
        </div>  
        <div class="media text-muted pt-3">
          <p class="media-body pb-2 mb-0 small lh-100 border-bottom border-gray">
            
            <label for="FormControlArtiste" class="form-label">Artiste</label>
            <input type="text" class="form-control" id="FormControlArtiste" name="FormControlArtiste" placeholder="Nom de l'artiste">          
          </p>
        </div>
        <div class="media text-muted pt-3">
          <p class="media-body pb-2 mb-0 small lh-100 border-bottom border-gray">
            <label for="FormControlTitre" class="form-label">Titre</label>
            <input type="text" class="form-control" id="FormControlTitre" name="FormControlTitre" placeholder="Titre de la chanson">          
          </p>
        </div>
        <div class="media text-muted pt-3">
          <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
        <div class="text-center m-3 py-3 rounded shadow {{ message.class }}">
          <h6>Nous vous souhaitons une excellente soirée</h6>
          <h6>{{ message.text }}</h6>
        </div>      
      </div>
    </form>
    </div>
  </main>
  {% endblock %}